/**
 * Search
 */

.search-1{
    padding: 40px 0;
    
    @media screen and (max-width: $sm){
        padding: 10px 0;
    }
    
    form{
        background: #f9f9f9;
        border: 1px solid #eaeaea;
        height: 40px;
        
        > div{
            overflow: hidden;
        }
    }
    
    .search-button{
        background: #f9f9f9;
        border: none;
        height: 30px;
        margin: 4px;
        width: 30px;
    }
    
    .search-key{
        background: none;
        border: none;
        height: 38px;
        font-size: 1.3rem;
        padding: 12px 25px;
        width: 100%;
    }
}