@use "core/variables" as *;

.store-rating{
    background: $bg-white;
    border: $border-width solid $border-gray;
    margin-top: $spacing-xxxl;
    padding: $spacing-lg;
    
    > h4{
        color: $text-black;
        margin-bottom: $spacing-sm;
        text-transform: uppercase;
        @include typo(1.3rem, $font-weight-normal, $font, 1.3rem);
        
        @media (min-width: 768px) and (max-width: 991px){
            margin-bottom: 0;
        }
    }
    
    > h3{
        color: $text-black;
        text-transform: uppercase;
        @include typo(2.5rem, $font-weight-normal, $font, 2.5rem);
        
        @media (min-width: 768px) and (max-width: 991px){
            @include typo(2rem, 400, $font, 2rem);
        }
    }
    
    .dep_lista{
        font-size: 0;
        margin: $spacing-lg -$spacing-lg 0;
    }
    
    .dep_item{
        display: block;
        font-size: $font-size-sm;
        line-height: 1.6rem;
    }
    
    .dep_dados{
        padding: $spacing-lg;
        
        > li{
            
            > span{
                font-weight: bold;
            }
        }
    }
    
    .dep_link{
        margin-top: $spacing-lg;
        font-size: 0;
        text-align: center;
        
        a{
            background: $text-muted;
            color: $text-white;
            font-size: $font-size-md;
            padding: 9px 0;
            text-align: center;
            text-transform: uppercase;
            
            &:hover{
                text-decoration: none;
            }
        }
    }
}