@use "core/variables" as *;

.tray-kit {
    border: $border-width solid $border-light;
    margin-bottom: $spacing-lg;
    padding: $spacing-lg;
    
    
    div[style="clear:both;"] {
        display: none;
    }
}

.tray-kit-item {
    border-top: $border-width solid $border-light;
    padding: $spacing-lg 0 $spacing-xxl;
    
    &:first-child {
        border-top: none;
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }
    
    > div {
        position: relative;
    }
}

.tray-kit-image {
    float: left;
    width: $image-max-width;
    margin-right: $spacing-lg;
    border: $border-width solid $border-light;
}

.tray-kit-name {
    font-weight: $font-weight-bold;
    padding: $spacing-sm 0;
}

.tray-kit-info {
    overflow: hidden;
    margin-left: 105px;
}

.tray-kit-unity {
    overflow: hidden;
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 95px;
    width: $image-max-width;
    text-align: center;
}

.tray-kit-show-all {
    font-size: $font-size-sm;
    text-align: center;
    margin-top: $spacing-md;
}

.tray-kit-title h3 {
    font-weight: $font-weight-bold;
    border-bottom: $border-width solid $border-light;
    padding-bottom: $spacing-md;
    margin-bottom: $spacing-md;
}

.tray-kit-additional-info .onVar,
.tray-kit-additional-info .onVar:hover{
    color: $text-black;
    font-size: $font-size-sm;
}

.tray-kit-additional-info {
    
    .select,
    .text,
    .textarea,
    .table,
    .dd,
    .ddTitle{
        display: block;
        width: 100% !important;
    }
    
    .text,
    .textarea{
        margin-bottom: $spacing-sm !important;
    }
    
    .dd .ddTitle span.ddTitleText{
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
    }
    
    .select,
    .ddTitle,
    .textarea{
        border: $border-width solid $border-light;
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
        height: $input-height;
    }
    
    .varCont > *{
        color: $text-dark;
        display: block;
    }
}

.tray-kit-variation{
    
    img {
        display: block;
        height: $button-height;
        overflow: hidden;
        width: $button-height;
    }
    
    li {
        border: $border-width solid $border-light;
        display: inline-block;
        font-size: $font-size-md;
        line-height: $button-height;
        margin: 0 $spacing-sm $spacing-sm 0;
        min-height: $button-height;
        min-width: $button-min-width;
        text-align: center;
    }
}