.vertical-nav{
    border: 1px solid #eaeaea;
    height: 543px;
    position: relative;
    z-index: 20;
    width: 23%;
    display: inline-block;
    
    > h5{
        color: #fff;
        padding: 1rem;
        text-transform: uppercase;
        @include typo(2rem, 700, $font);
        
        &:after {
            border-bottom: 1px solid #fff;
            border-top: 1px solid #fff;
            content: '';
            display: block;
            height: 4px;
            margin-top: 10px;
            width: 100%;
        }
    }
    
    .level1{
        margin-top: 10px;
    }
    
    .level2{
        border: 1px solid #eaeaea;
        display: none;
        left: 100%;
        position: absolute;
        top: 0;

        > .wrapper-list{
            background: #fff;
        }
    }
    
    .level3{
        border: 1px solid #eaeaea;
        display: none;
        left: 100%;
        position: absolute;
        top: -1px;
    }
    
    .item-level1{
        position: relative;
        
        &:hover{
            
            .link-level1{
                background: #c2a26f;
                text-decoration: none;
                
                &:before{
                    background: #c2a26f;
                    border-color: #fff;
                }
            }
            
            .level2{
                display: block;
            }
        }
    }
    
    .item-level2{
        margin-bottom: 0 !important;
        position: relative;
        
        &:hover{
            
            .link-level2{
                text-decoration: none;
            }
            
            .level3{
                display: block;
            }
        }
    }
    
    .item-level3{
        margin-bottom: 0 !important;
        
        &:hover{
            
            .link-level3{
                text-decoration: none;
            }
        }
    }
    
    .link-level1{
        display: block;
        padding: 10px 5px 10px 40px;
        position: relative;
        @include typo(1.3rem, 400, $font);
        
        @media screen and (max-width: 992px){
            padding-left: 10px;
            word-break: break-all;
        }
        
        &:before{
            background: #fff;
            border-radius: 7px;
            border: 1px solid #c2a26f;
            content: '';
            height: 7px;
            left: 20px;
            position: absolute;
            top: 13px;
            width: 7px;
            
            @media screen and (max-width: 992px){
                display: none;
            }
        }
        
        &.all-dep{
            text-transform: uppercase;
        }
    }
    
    .link-level2{
        color: #666;
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.3rem, 400, $font, 1.3rem);
    }
    
    .link-level3{
        display: block;
        padding: 10px 30px;
        white-space: nowrap;
        @include typo(1.3rem, 400, $font, 1.3rem);
    }
}