{% if settings.structure == 1 %}
<aside class="sidebar col-sm-3">
{% elseif settings.structure == 2%}
<aside class="sidebar col-sm-3 pull-right">
{% endif %}

    {% element 'snippets/menu' %}
    
    {% if pages.current in ['catalog','search'] %}
        {% if settings.enable_filter %}
            {% if filters %}
                {% element 'smartfilter' %}
            {% else %}
                {% element 'new-smart-filter' %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if banner.side %}
    <div class="banner banner-sidebar">
        {{ banner.side }}
    </div>
    {% endif %}
    
    {% if settings.store_rating %}
    <div class="store-rating hidden-xs">
        <h4>As melhores</h4>
        <h3>{{ Translation('avaliacoes') }}</h3>
        {% element 'CustomerReview.reviews' %}
    </div>
    {% endif %}

</aside>

<!-- Script dos filtros movido para js/modules/sidebar-filters.js -->